body {
    font-family: sans-serif;
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: min-content auto min-content;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 3;
}




